@font-face {
  font-family: "TTNormsPro";
  src: url("../fonts/TTNormsPro-Regular.woff2");
}
@font-face {
  font-family: "TTNormsPro";
  src: url("../fonts/TTNormsPro-Bold.woff2");
  font-weight: bold;
}
