@import "reset";
@import "utils";
@import "fonts";
@import "typography";
@import "./header";
@import "clients";
@import "./contact";
@import "./feedback";
@import "./footer";
@import "./burger.scss";
@import "./nav.scss";

body > * {
  font-family: TTNormsPro, Roboto, sans-serif;
  color: $main-text-color;
}

.title {
  font-size: 22.5px;
  font-weight: bold;
  line-height: 28px;
}

@media (min-width: 768px) {
  .title {
    font-size: 47px;
    line-height: 54px;
  }
  .text {
    font-size: 27px;
    line-height: 36px;
  }
}

@media (min-width: 1439px) {
  .title {
    font-size: 57px;
    line-height: 62px;
  }
  .text {
    font-size: 33px;
    line-height: 40px;
    word-spacing: initial;
  }
}
